    float: right;

    margin: 11px 11px 0 0;

    color: $white;

    font-size: 14px;

    letter-spacing: 0.2px;

    font-family: "Roboto";

  }

  &:hover {

    box-shadow: 0 0 6px $google-blue;

  }

  &:active {

    background: $button-active-blue;

  }

}

@import url(https://fonts.googleapis.com/css?family=Roboto:500);
